anaconda==0.0.1.1
appdirs==1.4.4
asgiref==3.2.10
certifi==2020.6.20
distlib==0.3.1
Django==3.1.6
django-crispy-forms==1.9.1
django-filter==2.3.0
django-views==1.0.1
filelock==3.0.12
mysql==0.0.2
mysql-connector-python==8.0.20
mysqlclient==2.0.1
pipenv==2020.6.2
protobuf==3.12.2
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
virtualenv==20.0.25
virtualenv-clone==0.5.4
